body {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	font-family: "ו";
}

#header {
	word-break: keep-all;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	height: 45px;
	background-color: lightblue;
}

#header .lHeader {
	font-weight: 800;
	margin: 0 auto;
	font-size: 30px;
}

#header .lHeader P {
	margin-top: 4px;
}

#header .rHeader {
	margin: 0 auto;
	padding-top: 14px;
	position: relative;
	float: right;
	font-size: 22px;
	font-weight: 600;
}
#header .rHeader .appName{
	margin-top:1px;
}
#header .rHeader a {
	color: #000000;
	text-decoration: none;
	display:block;
	float:left;
	border:0;
}

#header .rHeader a:hover {
	color: green;
}

#header .rHeader span {
	color: #636363;
	padding:0;
	display: block;
	float:left;
	text-align:left;
	line-height:23px;
	margin:auto 2px;
	border:0;
}

#topSection{
	position: relative;
	margin: -2px auto;
	width: 988px;
	padding:0;
	background-image:url("../../images/firstRow.gif");
	border-left:1px solid rgba(146, 216, 255, 0.4);
	border-right:1px solid rgba(146, 216, 255, 0.4);
	font-size:14px;
	height:26px;
}
#topSection table td:nth-child(1){
	width:650px;
	text-align:left;
}
#topSection table td:nth-child(2){
	width:330px;
	text-align:right;
}
#topSection table td a{
	text-decoration:none;
	color:black;
}
#topSection table td a:hover{
	text-decoration:none;
	color:blue;
}

#section {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: -5px auto 0 auto;
	padding:0;
	width: 990px;
    min-height: 550px;
}

#section .lSection {
    min-height: 550px;
    width: 190px;
    background-color: #d5ecff;
    border-top-right-radius: 2px;
    border-left:1px solid rgba(146, 216, 255, 0.47);
    border-right:1px solid rgba(146, 216, 255, 0.47);
    border-bottom:1px solid rgba(146, 216, 255, 0.3);
    border-top:1px solid rgba(146, 216, 255, 0.3);
}
#section .lSection .head{
    margin:20px 15px 20px 15px;
    width: 160px;
    height: 24px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: url("../../images/mainHead.png");
    background-repeat: no-repeat;
    background-size: 160px;
}

#section .lSection .topDiv{
    border: 1px solid #92d8ff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 160px;
    margin:-20px 15px 20px 15px;
}
#section .lSection .topDivTil{
    width:160px;
    background-color: #86caf1;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: right;
    font-size: 21px;
    line-height:25px ;
    background-image: url("../../images/mainTitle.gif");
    background-repeat: no-repeat;
    background-size: 160px;
}
#section .lSection .ul{
    margin-left: -10px;
    margin-top: -5px;
}
#section .lSection li{
    margin-bottom: 8px;
    list-style-type: none;
}
#section .lSection li a{
    text-decoration: none;
    color: black;
}
#section .lSection li:hover {
    color: blue;
}
#section .lSection .bottomDiv{
    border: 1px solid #92d8ff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 160px;
    margin:-18px 15px 20px 15px;
}
#section .lSection .bottomDivTil{
    width:160px;
    text-align:center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 21px;
    line-height:25px ;
    background-image: url("../../images/mainTitle.gif");
    background-color: #86caf1;
    background-repeat: no-repeat;
    background-size: 160px;
}

#section .rSection {
    margin-left: 0;
    border-right:1px solid rgba(146, 216, 255, 0.32);
    border-bottom:1px solid rgba(146, 216, 255, 0.3);
    border-top:1px solid rgba(146, 216, 255, 0.12);
    min-height: 549px;
    width: 800px;
    overflow:auto;
    background-color: rgba(244, 244, 244, 0.75);
}

#section .rSection #gaiMiMa {
	display: block;
	text-align: center;
	margin-top: 30px;
	padding-top:13%;
}

#section .rSection #gaiMiMa form {
	text-align: center;
	display: flex;
	flex-direction: column;
}

#section .rSection #gaiMiMa form input {
	margin-top: 10px;
	margin-bottom: 10px;
	height:20px;
}

#section .rSection #gaiMiMa form #queRenMiMa {
	margin-left: -30px;
}

#section .rSection #gaiMiMa form .btn {
	margin: 10px auto;
}

#section .rSection #gaiMiMa form .btn input {
	margin: 15px 12px;
	width: 50px;
}
#section .rSection #gaiMiMa form .btn input {
	width: 50px;
	height:23px;
	border:1px solid #86caf1;
	background-color:white;
	font-size:14px;
}


#section .rSection #gaiZiLiao {
    display: block; 
}
#section .rSection #gaiZiLiao table {
	margin-left: 70px;
	margin-top:100px;
	width:650px;
	table-layout:fixed;
	border:solid #c0c0c0; 
    border-width:1px 0 0 1px;
}
#section .rSection #gaiZiLiao table td{
	border:solid #c0c0c0; 
    border-width:0px 1px 1px 0px;
    font-size: 17px;
    color:black;
}
#section .rSection #gaiZiLiao table td:nth-child(1){
	text-align:right;
	width:150px;
}
#section .rSection #gaiZiLiao table td:nth-child(2){
	text-align:left;
	width:500px;
}
#section .rSection #gaiZiLiao table tr input{
	height:20px;
	width:473px;
	font-size:15px;
}
#section .rSection #gaiZiLiao table tr{
	height:30px;
}
#section .rSection #gaiZiLiao form textarea {
	resize: none;
	overflow-y: auto;
	padding:0;
	width:475px;
	height:160px;
	display:inline-block;
	vertical-align:middle;
	text-indent:16px;
	text-align:justify;
    text-justify:distribute-all-lines;	
    font-size:15px;
    border:1px solid #c0c0c0;
}
#section .rSection #gaiZiLiao form .btn {
	margin-top:20px;
	margin-left:70px;
}
#section .rSection #gaiZiLiao form .btn input {
	margin-top:20px;
	width: 50px;
	height:23px;
	border:1px solid #86caf1;
	background-color:white;
	font-size:14px;
}
 
#section .rSection #zhaoPinMessage {
	display: block;
	margin-top:13px;
	margin-bottom: 13px;
}
#section .rSection #zhaoPinMessage a{
	text-decoration:none;
	color:blue;
}
#section .rSection #zhaoPinMessage a:hover{
	text-decoration:underline;
	color:blue;
}

#section .rSection #zhaoPinMessage table {
	margin-left: 15px;
	width: 750px;
	table-layout:fixed;
	border:solid #86caf1; 
    border-width:1px 0 0 1px;	
}

#section .rSection #zhaoPinMessage table td{
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	text-align:center;
	border:solid #86caf1; 
    border-width:0px 1px 1px 0px;
}
#section .rSection #zhaoPinMessage table tr{
	border-color: #e1e1e1;
}

#section .rSection #zhaoPinMessage table td:nth-child(1) {
	width: 179px;
}

#section .rSection #zhaoPinMessage table td:nth-child(2) {
	width: 120px;
}
#section .rSection #zhaoPinMessage table td:nth-child(3) {
	width: 120px;
}

#section .rSection #zhaoPinMessage table td:nth-child(4) {
	width: 126px;
}

#section .rSection #zhaoPinMessage table td:nth-child(5) {
	width:95px;
}
#section .rSection #zhaoPinMessage table td:nth-child(6) {
	width: 95px;
}
#section .rSection #zhaoPinMessage table #firstRow {
	border: 2px;
	background-color: #d5ecff;
	height: 28px;
	color: black;	
}

#section .rSection #faBuZhaoPinMessage {
    display: block; 
	padding-top:13px;
}
#section .rSection #faBuZhaoPinMessage table {
	width:600px;
	margin-left:90px;
	table-layout:fixed;
	border:solid #c0c0c0; 
    border-width:1px 0 0 1px;
}
#section .rSection #faBuZhaoPinMessage table td{
	border:solid #c0c0c0; 
    border-width:0px 1px 1px 0px;
    font-size: 17px;
}
#section .rSection #faBuZhaoPinMessage table td:nth-child(1){
	text-align:right;
	width:130px;
}
#section .rSection #faBuZhaoPinMessage table td:nth-child(2){
	text-align:left;
	width:480px;
}
#section .rSection #faBuZhaoPinMessage table tr input{
	height:19px;
	width:452px;
	font-size:15px;
}
#section .rSection #faBuZhaoPinMessage table tr{
	height:30px;
}

#section .rSection #faBuZhaoPinMessage table tr:nth-child(3) input{
	width:85px;
}
#section .rSection #faBuZhaoPinMessage table textarea{
	margin-top:3px;
	resize:none;
	overflow:auto;
	width:450px;
	height:140px;
	text-align:justify;
    text-justify:distribute-all-lines;
    font-size:15px;
}
#section .rSection #faBuZhaoPinMessage select{
	height:23px;
	font-size:15px;
	margin-top:1px;
}
#section .rSection #faBuZhaoPinMessage form .btn {
	padding-left:90px;
}
#section .rSection #faBuZhaoPinMessage form .btn input {
	margin-top:13px;
	width: 50px;
	height:23px;
	border:1px solid #86caf1;
	background-color:white;
	font-size:14px;
}
#section .rSection .res{
	margin-left: 20px;
}
 
 
#section .rSection #yingPinMessage {
	display: block;
	margin-top:13px;
	margin-bottom: 13px;
}
#section .rSection #yingPinMessage a{
	text-decoration:none;
	color:blue;
}
#section .rSection #yingPinMessage a:hover{
	text-decoration:underline;
	color:blue;
}
#section .rSection #yingPinMessage table {
	margin-left: 15px;
	border-color: #e1e1e1;
	table-layout:fixed;
	width:750px;
	border:solid #86caf1; 
    border-width: 1px 0 0 1px ;
}
#section .rSection #yingPinMessage table td{
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	text-align: center;
	border-color: #e1e1e1;
	border:solid #86caf1; 
    border-width:0px 1px 1px 0px;
}
#section .rSection #yingPinMessage table #oneRow {
	border: 2px;
	background-color: #d5ecff;
	height: 28px;		
}
#section .rSection #yingPinMessage table td:nth-child(1) {
	width:90px;
}
#section .rSection #yingPinMessage table td:nth-child(2) {
	width:170px;
}
#section .rSection #yingPinMessage table td:nth-child(3) {
	width:120px;
}
#section .rSection #yingPinMessage table td:nth-child(4) {
	width:195px;
}
#section .rSection #yingPinMessage table td:nth-child(5) {
	width:165px;
}


#section .rSection #myCollection {	
	margin-top:13px;
	margin-bottom: 13px;
}
#section .rSection #myCollection a{
	text-decoration:none;
	color:blue;
}
#section .rSection #myCollection a:hover{
	text-decoration:underline;
	color:blue;
}
#section .rSection #myCollection table {
	margin-left: 15px;
	width:750px;
	table-layout:fixed;
	border:solid #86caf1; 
    border-width:1px 0 0 1px;
}
#section .rSection #myCollection table tr td{
	word-break: keep-all;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:center;
	border:solid #86caf1; 
    border-width:0px 1px 1px 0px;
}
#section .rSection #myCollection table .firstRow {
	background-color: #d5ecff;
	height: 30px;
}
#section .rSection #myCollection table td:nth-child(1){
	width:199px;
}
#section .rSection #myCollection table td:nth-child(2){
	width:199px;
}
#section .rSection #myCollection table td:nth-child(3){
	width:190px;
}
#section .rSection #myCollection table td:nth-child(4){
	width:166px;
}


#return{
    display:none;
    position:fixed;
    bottom:85px;
    top:80%;
    margin-left:824px;
}

footer {
    margin-top: 23px;
    margin-bottom:0;
    padding:0;
    text-align: center;
}

footer p {
    margin:0;
    padding:0;
    color: #a7a7a7;
}

