<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiuzhi.dao.CompanyAccountDao">
	<resultMap id="BaseResultMap" type="com.qiuzhi.entity.CompanyAccount">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="account" property="account" jdbcType="CHAR" />
		<result column="password" property="password" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, account, password
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_companys_account
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_companys_account
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.qiuzhi.entity.CompanyAccount">
		insert into t_companys_account
		(id, account, password
		)
		values (#{id,jdbcType=INTEGER},
		#{account,jdbcType=CHAR},
		#{password,jdbcType=CHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.qiuzhi.entity.CompanyAccount">
		insert into t_companys_account
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="password != null">
				password,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="account != null">
				#{account,jdbcType=CHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.qiuzhi.entity.CompanyAccount">
		update t_companys_account
		<set>
			<if test="account != null">
				account = #{account,jdbcType=CHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.qiuzhi.entity.CompanyAccount">
		update
		t_companys_account
		set account = #{account,jdbcType=CHAR},
		password =
		#{password,jdbcType=CHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectOneByAccount" resultMap="BaseResultMap">
		select * from
		t_companys_account
		where account = #{account,jdbcType=CHAR}
	</select>

	<update id="updatePassword" >
		update t_companys_account
		set password = #{newPassword,jdbcType=CHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>