body {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}

/*header*/
#header {
    word-break: keep-all;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    height: 45px;
    background-color: lightblue;
}

#header .lHeader {
    font-weight: 800;
    margin: 0 auto;
    font-size: 30px;
}

#header .lHeader P {
    margin-top: 4px;
}

#header .rHeader {
    margin: 0 auto;
    padding-top: 11px;
    position: relative;
    float: right;
    font-size: 20px;
    font-weight: 600;
}
#header .rHeader a {
    color: #000000;
    text-decoration: none;
}

#header .rHeader a:hover {
    color: green;
}

#header .rHeader span {
    margin-left: 5px;
    margin-right: -5px;
    color: #343434;
}

#topSection{
	position: relative;
	margin: -2px auto;
	width: 988px;
	padding:0;
	background-image:url("../../images/firstRow.gif");
	border-left:1px solid rgba(146, 216, 255, 0.4);
	border-right:1px solid rgba(146, 216, 255, 0.4);
	font-size:14px;
	height:26px;
}
#topSection table td:nth-child(1){
	width:650px;
	text-align:left;
}
#topSection table td:nth-child(2){
	width:330px;
	text-align:right;
}
#topSection table td a{
	text-decoration:none;
	color:black;
}
#topSection table td a:hover{
	text-decoration:none;
	color:blue;
}

#section {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: -5px auto 0 auto;
	padding:0;
	width: 990px;
    min-height: 550px;
}

/*lSection*/
#section .lSection {
    min-height: 550px;
    overflow: auto;
    width: 190px;
    border-top-right-radius:2px;
    background-color: #d5ecff;
    border-left:1px solid rgba(146, 216, 255, 0.47);
    border-right:1px solid rgba(146, 216, 255, 0.47);
    border-bottom:1px solid rgba(146, 216, 255, 0.3);
    border-top:1px solid rgba(146, 216, 255, 0.3);
}
#section .lSection .head{
    margin:20px 15px 20px 15px;
    width: 160px;
    height: 24px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: url("../../images/mainHead.png");
    background-repeat: no-repeat;
    background-size: 160px;
}

#section .lSection .topDiv{
    border: 1px solid #92d8ff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 160px;
    margin:-20px 15px 20px 15px;
}
#section .lSection .topDivTil{
    width:160px;
    background-color: #86caf1;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: right;
    font-size: 21px;
    line-height:25px ;
    background-image: url("../../images/mainTitle.gif");
    background-repeat: no-repeat;
    background-size: 160px;
}
#section .lSection .ul{
    margin-left: -25px;
    margin-top: -5px;
}
#section .lSection li{
    margin-bottom: 8px;
    list-style-type: none;
}

#section .lSection li a{
    text-decoration: none;
    color: black;
}
#section .lSection .bottomDiv{
    border: 1px solid #92d8ff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 160px;
    margin:-18px 15px 20px 15px;
}
#section .lSection .bottomDivTil{
    width:160px;
    text-align: right;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 21px;
    line-height:25px ;
    background-image: url("../../images/mainTitle.gif");
    background-color: #86caf1;
    background-repeat: no-repeat;
    background-size: 160px;
}


#section .rSection {
    min-height: 550px;
    margin-left: 0;
    border-right:1px solid rgba(146, 216, 255, 0.32);
    border-bottom:1px solid rgba(146, 216, 255, 0.3);
    border-top:1px solid rgba(146, 216, 255, 0.12);
    width: 800px;
    background-color: rgba(244, 244, 244, 0.75);
}

#section .rSection #gaiMiMa {
    text-align: center;
    margin-top: 30px;
    padding-top:15%;
    padding-left: 20px;
}

#section .rSection #gaiMiMa form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#section .rSection #gaiMiMa form input {
    margin-top: 10px;
    margin-bottom: 10px;
    height:20px;
}

#section .rSection #gaiMiMa form #queRenMiMa {
    margin-left: -30px;
}

#section .rSection #gaiMiMa form .btn {
    margin: 10px auto;
}

#section .rSection #gaiMiMa form .btn input {
	margin: 15px 12px;
	width: 50px;
}
#section .rSection #gaiMiMa form .btn input {
	width: 50px;
	height:23px;
	border:1px solid #86caf1;
	background-color:white;
	font-size:14px;
}

#section #newsManage {
    margin-top:13px;
    margin-bottom: 13px;
}

#section .rSection #newsManage a{
    text-decoration:none;
    color:blue;
}
#section .rSection #newsManage a:hover{
    text-decoration:underline;
    color:blue;
}
#section .rSection #newsManage table {
    margin-left: 15px;
    width:750px;
    table-layout:fixed;
    border:solid #86caf1;
    border-width:1px 0 0 1px;
}
#section .rSection #newsManage table tr td{
    word-break: keep-all;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
    border:solid #86caf1;
    border-width:0 1px 1px 0;
}
#section .rSection #newsManage table .row1 {
    background-color: #d5ecff;
    height: 29px;
    font-weight: 600;
    color: black;
}
#section .rSection #newsManage table .row2:hover{
    background-color: #eeeeee;
}
#section .rSection #newsManage table .row2 {
    height: 24px;
}

#section .rSection #newsManage table tr:nth-child(1){
    border-color: #f6fbfb;
}
#section .rSection #newsManage table td:nth-child(1){
    width:300px;
}
#section .rSection #newsManage table td:nth-child(2){
    width:155px;
}
#section .rSection #newsManage table td:nth-child(3){
    width:165px;
}
#section .rSection #newsManage table td:nth-child(4){
    width:135px;
}
#section .rSection #newsManage button{
    margin-left: 15px;
    margin-top: 1px;
    width: 50px;
	height:23px;
	border:1px solid #86caf1;
	background-color:white;
	font-size:14px;
}

#section #addNews{
    display: none;
    margin-top: 13px;
}
#section #addNews table{
    margin-left: 15px;
    width:750px;
    table-layout:fixed;
    border:solid #86caf1;
    border-width:1px 0 0 1px;
}
#section #addNews table td{
    word-break: keep-all;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
    border:solid #86caf1;
    border-width:0 1px 1px 0;
}
#section #addNews table tr:nth-child(1){
    height: 30px;
}
#section #addNews table tr:nth-child(2){
    height: 200px;
}
#section #addNews table td:nth-child(1) {
    width: 161px;
    text-align: right;
}
#section #addNews table td:nth-child(2) {
    width: 600px;
}

#section #addNews table input{
    float: left;
    width: 500px;
    height: 20px;
}
#section #addNews textarea{
    resize: none;
    overflow: auto;
    padding:0;
    width:500px;
    height:190px;
    display:inline-block;
    vertical-align:middle;
    text-indent:16px;
    float: left;
    text-align:justify;
    text-justify:distribute-all-lines;
}
#section #addNews .addBtn{
    margin-left: 15px;
    display: inline-block;
    margin-top:10px;
}


#section .rSection #adminManage {
    margin-top: 13px;
    margin-bottom: 13px;
}
#section #adminManage table{
    margin-left: 15px;
    width:750px;
    table-layout:fixed;
    border:solid #86caf1;
    border-width:1px 0 0 1px;
}
#section #adminManage table td{
    word-break: keep-all;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
    border:solid #86caf1;
    border-width:0 1px 1px 0;
}
#section #adminManage table td:nth-child(1) {
    width: 253px;
}#section #adminManage table td:nth-child(2) {
    width: 253px;
}#section #adminManage table td:nth-child(3) {
    width: 252px;
}
#adminManage table tr:first-child {
    height: 29px;
    font-weight: 600;
    color: black;
    background-color: #d5ecff;
}
#section #adminManage button {
    margin-left: 10px;
}
#section .rSection #adminManage a{
    text-decoration:none;
    color:blue;
}
#section .rSection #adminManage a:hover{
    text-decoration:underline;
    color:blue;
}
#section .rSection #adminManage button{
    margin-left: 15px;
    margin-top: 1px;
    width: 50px;
	height:23px;
	border:1px solid #86caf1;
	background-color:white;
	font-size:14px;
}


#section #addAdmin{
    display: none;
    margin-top: 13px;
}
#section #addAdmin table{
    margin-left: 15px;
    width:750px;
    table-layout:fixed;
    border:solid #86caf1;
    border-width:1px 0 0 1px;
}
#section #addAdmin table td{
    word-break: keep-all;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
    border:solid #86caf1;
    border-width:0 1px 1px 0;
}
#section #addAdmin table tr{
    height: 30px;
}
#section #addAdmin table td:nth-child(1) {
    width: 160px;
    text-align: right;
}
#section #addAdmin table td:nth-child(2) {
    width: 601px;
}
#section #addAdmin table input{
    float: left;
    width: 350px;
    height: 20px;
}

#section #addAdmin .addBtn{
    margin-left: 15px;
    display: inline-block;
    margin-top:10px;
}
#section .rSection .addBtn input {
	width: 50px;
	height:23px;
	border:1px solid #86caf1;
	background-color:white;
	font-size:14px;
}


#section #applyUserManage {
    margin-top: 13px;
    margin-bottom: 13px;
}

#section #applyUserManage table{
    margin-left: 15px;
    table-layout:fixed;
    border:solid #86caf1;
    border-width:1px 0 0 1px;
    width: 750px;
}
#section #applyUserManage table td {
    width: 75px;
    word-break: keep-all;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
    border:solid #86caf1;
    border-width:0 1px 1px 0;
}
#section #applyUserManage table tr:first-child {
    background-color: #d5ecff;
    height: 29px;
    font-weight: 600;
    color: black;
}

#section #applyUserManage table td:nth-child(7) {
    width: 100px;
}
#section #applyUserManage table td:nth-child(1) {
    width: 100px;
}
#section #applyUserManage table td:nth-child(2) {
    width: 75px;
}

#section #applyUserManage table td:nth-child(3) {
    width: 80px;
}

#section #applyUserManage table td:nth-child(4) {
    width: 75px;
}

#section #applyUserManage table td:nth-child(5) {
    width: 80px;
}

#section #applyUserManage table td:nth-child(6) {
    width: 80px;
}

#section .rSection #applyUserManage a{
    text-decoration:none;
    color:blue;
}
#section .rSection #applyUserManage a:hover{
    text-decoration:underline;
    color:blue;
}


#section #companyUserManage {
    margin-top: 13px;
    margin-bottom: 13px;
}

#section #companyUserManage table{
    margin-left: 15px;
    table-layout:fixed;
    border:solid #86caf1;
    border-width:1px 0 0 1px;
    width: 750px;
}
#section #companyUserManage table td {
    width: 75px;
    word-break: keep-all;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
    border:solid #86caf1;
    border-width:0 1px 1px 0;
}
#section #companyUserManage table tr:first-child {
    background-color: #d5ecff;
    height: 29px;
    font-weight: 600;
    color: black;
}

#section #companyUserManage table td:nth-child(1) {
    width: 100px;
}
#section #companyUserManage table td:nth-child(2) {
    width: 80px;
}
#section #companyUserManage table td:nth-child(3) {
    width: 160px;
}

#section #companyUserManage table td:nth-child(4) {
    width: 180px;
}

#section #companyUserManage table td:nth-child(5) {
    width: 128px;
}

#section #companyUserManage table td:nth-child(6) {
    width: 101px;
}
#section .rSection #companyUserManage a{
    text-decoration:none;
    color:blue;
}
#section .rSection #companyUserManage a:hover{
    text-decoration:underline;
    color:blue;
}


#section .rSection #zhaoPinMessage {
    margin-top: 13px;
    margin-bottom: 13px;
}

#section #zhaoPinMessage table{
    margin-left: 15px;
    table-layout:fixed;
    border:solid #86caf1;
    border-width:1px 0 0 1px;
    width: 750px;
}
#section #zhaoPinMessage table td {
    width: 75px;
    word-break: keep-all;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
    border:solid #86caf1;
    border-width:0 1px 1px 0;
}
#section #zhaoPinMessage table tr:first-child {
    background-color: #d5ecff;
    height: 29px;
    font-weight: 600;
    color: black;
}
#section #zhaoPinMessage table td:nth-child(1) {
    width: 160px;
}
#section #zhaoPinMessage table td:nth-child(2) {
    width: 100px;
}
#section #zhaoPinMessage table td:nth-child(3) {
    width: 120px;
}

#section #zhaoPinMessage table td:nth-child(4) {
    width: 149px;
}

#section #zhaoPinMessage table td:nth-child(5) {
    width: 120px;
}
#section #zhaoPinMessage table td:nth-child(6) {
    width: 100px;
}

#section .rSection #zhaoPinMessage a{
    text-decoration:none;
    color:blue;
}
#section .rSection #zhaoPinMessage a:hover{
    text-decoration:underline;
    color:blue;
}

#return{
    display:none;
    position:fixed;
    bottom:85px;
    top:78%;
    margin-left:824px;
}

footer {
    margin-top: 23px;
    margin-bottom:0;
    padding:0;
    text-align: center;
}

footer p {
    margin:0;
    padding:0;
    color: #a7a7a7;
}

/*# sourceMappingURL=admin.css.map */
